Repository eclipse-jdtls/eclipse.jdt.ls, pull requests merged in 2020-07, with the labels that each got.

#1494 Update Buildship to 3.1.5
  org.eclipse.jdt.ls.target/org.eclipse.jdt.ls.tp.target
Labels: enhancement, gradle

#1495 Improve Java LS shutdown
  org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/BaseJDTLanguageServer.java
  org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/JDTLanguageServer.java
  org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/syntaxserver/SyntaxLanguageServer.java
Labels: enhancement

#1509 Require Java 11 to build/run
  README.md
  launch/jdt.ls.remote.server.launch
  launch/jdt.ls.socket-stream.launch
  launch/jdt.ls.socket-stream.syntaxserver.launch
  org.eclipse.jdt.ls.core/.classpath
  org.eclipse.jdt.ls.core/.settings/org.eclipse.jdt.core.prefs
  org.eclipse.jdt.ls.core/META-INF/MANIFEST.MF
  org.eclipse.jdt.ls.tests.syntaxserver/.classpath
  org.eclipse.jdt.ls.tests.syntaxserver/.settings/org.eclipse.jdt.core.prefs
  org.eclipse.jdt.ls.tests.syntaxserver/.settings/org.eclipse.m2e.core.prefs
  org.eclipse.jdt.ls.tests.syntaxserver/META-INF/MANIFEST.MF
  org.eclipse.jdt.ls.tests/.classpath
  org.eclipse.jdt.ls.tests/.settings/org.eclipse.jdt.core.prefs
  org.eclipse.jdt.ls.tests/META-INF/MANIFEST.MF
  org.eclipse.jdt.ls.tests/projects/eclipse/testbundle/META-INF/MANIFEST.MF
Labels: build/infra, enhancement

#1510 Keep typing after the 1st tab when completing imports
  org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/contentassist/CompletionProposalReplacementProvider.java
  org.eclipse.jdt.ls.tests/src/org/eclipse/jdt/ls/core/internal/handlers/CompletionHandlerTest.java
Labels: content-assist, enhancement

#1512 Expose the 'java.import.gradle.java.home' preference
  org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/managers/GradlePreferenceChangeListener.java
  org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/managers/GradleProjectImporter.java
  org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/preferences/Preferences.java
  org.eclipse.jdt.ls.tests/src/org/eclipse/jdt/ls/core/internal/managers/GradleProjectImporterTest.java
Labels: enhancement, gradle

#1511 Provide semantic tokens for class files
  org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/commands/SemanticTokensCommand.java
Labels: enhancement, semantic highlighting
